{% load i18n thumbnail cms_tags %}
{% load url from future %}

<ul class="event-items">
	{% for event in object_list %}
	<li>
		{% if event.flyer %}<p class="events-visual"><a href="{% url 'events_detail' slug=event.slug %}"><img src="{% thumbnail event.flyer 180x260 crop %}" alt="" /></a></p>{% endif %}
		<h3><a href="{% url 'events_detail' slug=event.slug %}">{{ event.title }}</a></h3>
		{% if event.short_description %}<div class="events-lead">{% render_model event "short_description" "short_description" %}</div>{% endif %}

		<p class="events-date">
			<strong>{% trans "Start:" %}</strong> {{ event.start_date|date:"l, d.m.y" }}
			{% if event.start_time %} {% trans "at" %} {{ event.start_at|date:"H:i" }}{% endif %}
			{% if event.end_date %}
				<br /><strong>{% trans "End:" %}</strong> {{ event.end_date|date:"l, d.m.y" }}
				{% if event.end_time %} {% trans "at" %} {{ event.end_at|date:"H:i" }}{% endif %}
			{% endif %}
		</p>
		{% if event.location %}
		<div class="events-venue">{{ event.location|safe }}</div>
		{% endif %}
	</li>
	{% endfor %}
</ul>