language: python
python: 3.5
sudo: false

addons:
  apt:
    packages:
    - enchant

env:
  matrix:
    - TOXENV=flake8

    - TOXENV=py35-dj111-cms35
    - TOXENV=py35-dj111-cms34
    - TOXENV=py34-dj111-cms35
    - TOXENV=py34-dj111-cms34
    - TOXENV=py27-dj111-cms35
    - TOXENV=py27-dj111-cms34

    - TOXENV=py35-dj110-cms35
    - TOXENV=py35-dj110-cms34
    - TOXENV=py34-dj110-cms35
    - TOXENV=py34-dj110-cms34
    - TOXENV=py27-dj110-cms35
    - TOXENV=py27-dj110-cms34

    - TOXENV=py35-dj19-cms34
    - TOXENV=py34-dj19-cms34
    - TOXENV=py27-dj19-cms34

    - TOXENV=py35-dj18-cms34
    - TOXENV=py34-dj18-cms34
    - TOXENV=py27-dj18-cms34

    # - TOXENV=doctest -- Re-enable once sphinxcontrib-spelling is https capable.

install:
  - pip install tox coveralls

before_script:
  - if [ "$FE" == 1 ]; then nvm install 6 && nvm use 6; fi
  - if [ "$FE" == 1 ]; then npm config set spin false; fi
  - if [ "$FE" == 1 ]; then npm install -g gulp@3.9.0; fi
  - if [ "$FE" == 1 ]; then npm install -g codeclimate-test-reporter; fi
  - if [ "$FE" == 1 ]; then npm install; fi

after_script:
  - codeclimate < tests/coverage/**/lcov.info

script:
  - tox -e $TOXENV

after_success:
  - coveralls

notifications:
  webhooks: http://addons.us-iad-rs.aldryn.io/en/travis-endpoint/
