include LICENSE.txt
recursive-include aldryn_events/locale *
recursive-include aldryn_events/migrations *
recursive-include aldryn_events/boilerplates *
recursive-include aldryn_events/templates *
recursive-exclude * *.pyc
