{% extends "aldryn_events/navigation.html" %}

{% load thumbnail i18n standard_form placeholder_tags sekizai_tags %}{% load url from future %}


{% block content_primary %}
<h3>{{ event.title }}</h3>
<div style="font-size: 22px;">
	{% if event.start_date %}{{ event.start_date|date:"l" }}, {{ event.start_at|date:"DATE_FORMAT" }}{% endif %}{% if event.start_time %} {{ event.start_at|date:"H:i" }}{% endif %}
	{% if event.end_date or event.end_time %} - {% endif %}{% if event.end_date %}{{ event.end_date|date:"l" }}, {{ event.end_at|date:"DATE_FORMAT" }}{% endif %}{% if event.end_time %} {{ event.end_at|date:"H:i" }}{% endif %}
</div>

{% if event.flyer %}<a class="btn" href="{{ event.flyer.url }}" target="_blank">{% trans 'download flyer' %}</a>{% endif %}
{% if event.register_link %}<a class="btn" href="{{ event.register_link }}" target="_blank">{% trans 'registration' %}</a>{% endif %}

<hr class="clear"/>
{{ event.short_description|safe }}

{% render_placeholder event.description %}


{% if event.enable_registration %}
	{% if already_registered %}
		<p><strong>{% trans 'Thank you for registering!' %}</strong></p>
		<form method="post" action="{% url 'events_registration_reset' event.slug %}">{% csrf_token %}<input type="submit" value="{% trans 'Register for event again' %}" class="btn btn-grey"></form>
	{% else %}
		{% if event.is_registration_deadline_passed %}
			{% trans "It's too late to sign up for this event" %}
		{% else %}
			{% if not form.errors %}<a href="#" id="register_trigger" class="btn btn-grey">{% trans 'Register for this event' %}</a>{% endif %}
			<div id="register_target" class="closed" {% if not form.errors %}style="display: none;"{% endif %}>
				<form method="post" action="" class="frm">{% csrf_token %}
					{% if form.errors %}
					<ul class="error">
						<li class="title">{% if error_message_title %}{{ error_message_title }}{% else %}{% trans "Error messages:" %}{% endif %}</li>
						{% for field in form %}{% if field.errors %}{% for error in field.errors %}
						<li><em>{{ field.label }}</em>: {{ error }}</li>
						{% endfor %}{% endif %}{% endfor %}
					</ul>
					{% endif %}
					<fieldset class="align-horizontal">
						{% standard_form form %}
						<label class="disable">&nbsp;</label><input type="submit" class="btn" value="{% trans 'Submit' %}" />
					</fieldset>
				</form>
			</div>
		{% endif %}
	{% endif %}
{% endif %}

{% addtoblock 'js' %}<script type="text/javascript">
    $(document).ready(function() {
        $('#register_trigger').bind('click', function (e) {
            e.preventDefault();
            $('#register_target').slideDown();
            $(this).detach();
        })
    });
</script>{% endaddtoblock %}
{% endblock content_primary %}
