{% load thumbnail i18n %}{% load url from future %}
<div style="clear: both;">
	{% if event.image %}<a href="{% url 'events_detail' slug=event.slug %}"><img src="{% thumbnail event.image 150x100 %}" /></a>{% endif %}
	<h3><a href="{% url 'events_detail' slug=event.slug %}">{{ event.title }}</a></h3>
	<em style="font-size: 22px;">
		{% if event.start_date %}{{ event.start_date|date:"l" }}, {{ event.start_at|date:"DATE_FORMAT" }}{% endif %}{% if event.start_time %} {{ event.start_at|date:"H:i" }}{% endif %}
		{% if event.end_date or event.end_time %} - {% endif %}{% if event.end_date %}{{ event.end_date|date:"l" }}, {{ event.end_at|date:"DATE_FORMAT" }}{% endif %}{% if event.end_time %} {{ event.end_at|date:"H:i" }}{% endif %}
	</em>
	{{ event.short_description|safe }}
	<a class="btn" href="{% url 'events_detail' slug=event.slug %}">{% trans 'more'|capfirst %}</a>
	{% if event.flyer %}<a class="btn" href="{{ event.flyer.url }}" target="_blank">{% trans 'download flyer'|capfirst %}</a>{% endif %}
	{% if event.register_link %}<a class="btn" href="{{ event.register_link }}" target="_blank">{% trans 'registration'|capfirst %}</a>{% endif %}
</div>
