{% load i18n thumbnail cms_tags %}
<li>
    <h3><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h3>
    {% if event.short_description %}<div class="events-lead">{% render_model event "short_description" "short_description" %}</div>{% endif %}

    <p class="events-date">
        <strong>{% trans "Start:" %}</strong> {{ event.start_date|date:"l, d.m.y" }}
        {% if event.start_time %} {% trans "at" %} {{ event.start_at|date:"H:i" }}{% endif %}
        {% if event.end_date %}
            <br /><strong>{% trans "End:" %}</strong> {{ event.end_date|date:"l, d.m.y" }}
            {% if event.end_time %} {% trans "at" %} {{ event.end_at|date:"H:i" }}{% endif %}
        {% endif %}
    </p>
    {% if event.location %}
    <div class="events-venue">{{ event.location|safe }}</div>
    {% endif %}
</li>
